<div class="uk-card uk-card-default uk-card-body uk-text-right">
  <h3 class="uk-card-title">التسجيل في الموقع</h3>
  <fieldset class="uk-fieldset">
    <div class="uk-margin">
      <input class="uk-input" type="text" placeholder="البريد الالكتروني" name="emil" [(ngModel)]="emil">
    </div>
    <div class="uk-margin">
      <input class="uk-input" type="password" placeholder="كلمة السر" name="password" [(ngModel)]="password">
    </div>
    <div class="uk-margin">
      <button class="uk-button uk-button-primary" name="register" (click)="Registeration()">حفظ</button>
    </div>

  </fieldset>
</div>
